<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationMCA"
        tools:targetApi="31">
        <activity
            android:name=".E_pro4"
            android:exported="false" />
        <activity
            android:name=".UNIT1_pro4"
            android:exported="false" />
        <activity
            android:name=".UNIT1_pro3"
            android:exported="false" />
        <activity
            android:name=".E_pro3"
            android:exported="false" />
        <activity
            android:name=".E_pro2"
            android:exported="false" />
        <activity
            android:name=".E_pro1_2"
            android:exported="false" />
        <activity
            android:name=".E_pro1_1"
            android:exported="false" />
        <activity
            android:name=".Extra_Program"
            android:exported="false" />
        <activity
            android:name=".UNIT5_LIST_PAGE"
            android:exported="false" />
        <activity
            android:name=".UNIT4_LIST_PAGE"
            android:exported="false" />
        <activity
            android:name=".UNIT3_LIST_PAGE"
            android:exported="false" />
        <activity
            android:name=".UNIT2_LIST_PAGE"
            android:exported="false" />
        <activity
            android:name=".UNIT1_LIST_PAGE"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>